
.headerTable{
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
}
.headerTable .title{
   display: flex;
   justify-content: column;
}

.headerTable  h2{
   color: #fffdfe;
   font-size: 1.8rem;
   line-height: 2rem;
   font-weight: 600;
}
.headerTable p{
   color: #7e8091;
   margin-top: 10px;
   font-size: .8rem;
   font-weight: 400;
}
.headerTable .options{
   display: flex;
   flex-direction: row;
}

.headerTable select{
   background-color: transparent;
   padding: 1%;
   color: #fffdfe;
   margin-right: 20px;
   outline: none;
   border: none;
   font-size: 1rem;
}
.headerTable option{
   background-color: #141625;
   margin: 2px 0;
}

.headerTable button{
   display: flex;
   width: 150px;
   justify-content: space-around;
   color: #fffdfe;
   font-size: .8rem;
   font-weight: 600;
   flex-direction: row;
   align-items: center;
   margin: 0;
   border: none;
   padding: .5% 2%;
   padding-left: 1%;
   border-radius: 30px;
   background-color: #7c5df9;
   transition: filter .2s;
}
.headerTable button:hover{
   filter:brightness(.8); 
}

.headerTable .btnIcon{
   padding: 2px 4px;
   border-radius: 50%;
   background-color: #fffdfe;
}

@media( max-width: 724px){
   .headerTable{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   .headerTable h2{
      font-size: 2rem;
   }
   .headerTable p{
      font-size: 1rem;
   }
   .headerTable button{
      padding: 5px;
      padding-left: 0;
      font-size: 1rem;
   }
}

@media(max-width: 524px){
   .headerTable{
      flex-direction: column;
      align-items: center;
   }
   .headerTable  h2{
      text-align: center;
      align-items: center;
   }
   .headerTable .options{
      width: 100%;
      margin-top: 10px;
      justify-content: space-around;
   }
}