.lineTable{
   background-color: #1f213a;
   padding: 1% 2%;
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   color: #fffdfe;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 1%;
}

.lineTable .bolder{
   font-size: 1rem;
   font-weight: 600;
}
.lineTable .type{
   padding: 1% 2%;
   border-radius: 6px;
}
.lineTable .btn{

   display: flex;
   width: 10%;
   flex-direction: row;
   justify-content: space-between;
}
.lineTable .btn svg{
   font-size: 25px;
   transition: filter .2s;
}
.lineTable .btn svg:hover{
   filter: brightness(.7);
}

.lineTable button{
   cursor: pointer;
   background-color: transparent;
   border: none;
}

@media( max-width: 924px){
   .lineTable{
      padding: 1.5% 1%;
      font-size: .8rem;
   }
   .lineTable .bolder, .lineTable .type{
      font-size: 1rem;
   }
   .lineTable .btn{
      width: 12%;
   }
   .lineTable .btn svg{
      font-size: 22px;
   }
}
@media( max-width: 724px){
   .lineTable .funcionario{
      display: none;
   }
   .lineTable .btn{
      width: 14%;
   } 
}
@media( max-width: 524px ){
   .lineTable .data{
      display: none;
   }
   .lineTable{
      font-size: .4rem;
   }
   .lineTable .btn{
      width: 20%;
   }
   .lineTable .bolder, .lineTable .type{
      font-size: .8rem;
   }
}
