.overlay{
   background:rgba(0, 0, 0, 0.9);
   z-index: 10;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content:center;
   align-items: center;
}

.modalDetail{
   background: #141625;
   width: 100%;
   max-width: 500px;
   padding : 2rem 3rem;
   border-radius: 5px;
   box-shadow: 0 0 60px rgba(0, 0, 0, .05);
   text-align: center;
   position: relative;
   color: #fffdfe;
}
.modalDetail .header{
   display: flex;
   flex-direction: row;
   width: 100%;
   align-self: center;
   justify-content: space-between;
   background-color: transparent;
   margin-bottom: 20px;
}
.modalDetail .header h4{
   font-size: 1.2rem;
   font-weight: 600;
}
.modalDetail .type{
   padding: 1% 2%;
   font-size: 1rem;
   border-radius: 6px;
}

.btnclose{
   position: absolute;
   top: 2%;
   right: 2%;
   background: transparent;
   font-size: 25px;
   font-weight: 600;
   border: none;
   cursor: pointer;
   color: var(--title);
   transition: filter .2s;
}
.btnclose:hover{
   filter: brightness(.5)
}
.modalDetail .info{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 1rem;
   margin-bottom: 20px;
}
.modalDetail .info div{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.modalDetail .info div p:last-child{
   font-size: .8rem;
   margin-top: 5px;
   font-weight: 400;
}

.modalDetail .description p:first-child{
   text-align: left;
   font-size: 1rem;
   margin-bottom: 10px;
}
.modalDetail .description p:last-child{
   font-size: .8rem;
   text-align: justify;
   margin-bottom: 30px;
}

.modalDetail .price{
   width: 100%;
   display: flex;
   background-color: #0b0e15;
   padding: 2%;
   flex-direction: row;
   justify-content: space-between;
}
.modalDetail .price p:first-child{
   font-size: 1rem;
}
.modalDetail .price p:last-child{
   font-size: 1.2rem;
   font-weight: 600;
}